@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/subframe7536/static-files@master/fonts/CalSans.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --border: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --input: 217.2 32.6% 17.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 84% 4.9%; /* dark-navy */
    --foreground: 210 20% 80.4%; /* slate */
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-dark-navy text-slate font-sans;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
  }
  ::selection {
    @apply bg-lightest-navy text-lightest-slate;
  }
}
@layer components {
  .section-heading {
    @apply flex items-center w-full text-2xl md:text-3xl font-semibold text-lightest-slate whitespace-nowrap;
  }
  .section-heading::after {
    content: '';
    @apply block w-full md:w-64 h-[1px] bg-lightest-navy ml-4;
  }
}